#msgList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body{
  font-family: sans-serif;
  background:#fff0f3;
  text-align:center;
  padding:40px;
}

input{
  padding:12px;
  border-radius:12px;
  border:none;
  width:200px;
  margin:10px;
}

button{
  padding:14px 20px;
  border:none;
  border-radius:16px;
  background:#ff4d6d;
  color:white;
  font-size:16px;
}

.kiss{
  font-size:22px;
  margin-top:30px;
}

